* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f8fc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cardo', serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}
